<h2><%= Comment.model_name.human %></h2>

<% if commentable.comments.count.zero? %>
  <p>まだ<%= Comment.model_name.human %>はありません。</p>
<% else %>
  <% commentable.comments.order(:id).each do |comment| %>
    <p>
      <%= Comment.human_attribute_name(:created_at) %>：
      <%= comment.created_at %>
    </p>

    <p>
      <%= Comment.human_attribute_name(:author) %>：
      <%= link_to comment.user.name.presence || comment.user.email, comment.user %>
    </p>

    <p>
      <%= Comment.human_attribute_name(:comment) %>：<br>
      <%= comment.comment %>
    </p>

    <% if comment.created_by?(current_user) %>
      <p>
        <%= link_to t('views.common.edit'), [:edit, commentable, comment] %> |
        <%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
      </p>
    <% end %>

    <hr>
  <% end %>
<% end %>

<%= render 'comments/form', { commentable: commentable, comment: comment } %>
