<h2>Comments</h2>

<% if commentable.comments.count.zero? %>
  <p>まだコメントはありません。</p>
<% else %>
  <% commentable.comments.order(:id).each do |comment| %>
    <p>
      投稿者：
      <%= link_to comment.user.name, comment.user %>
    </p>
    <p>
      内容：<br>
      <%= comment.comment %>
    </p>

    <% if comment.created_by?(current_user) %>
      <p>
        <%= link_to '編集', [:edit, commentable, comment] %> |
        <%= link_to '削除', [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
      </p>
    <% end %>

    <hr>
  <% end %>
<% end %>

<%= render 'comments/form', commentable: commentable %>
