<h1>Users</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>email</th>
    <th>zip</th>
    <th>address</th>
    <th>introduce</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.zip %></td>
      <td><%= user.address %></td>
      <td><%= user.introduce %></td>
      <td><%= link_to 'show', user %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>

<br>
