<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Introduce:</strong>
  <%= @user.introduce %>
</p>

<%= link_to 'back', :back %>
